body{
    background-color: rgb(173, 216, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
}
.container{
    background-color: rgb(230, 230, 250);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
#calculate-btn{
    padding: 12px;
    margin: 15px;
    width: 15rem;
    height: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(255, 179, 186);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
button:hover {
  background-color: rgb(255, 160, 170); 
  box-shadow: 0 0 15px rgba(255, 179, 186, 0.8); 
  transform: scale(1.05); 
}

  input {
  width:50%;
  padding: 10px 15px;
  margin:5px 0;
  border: 2px solid rgb(173, 216, 230); /* pastel blue border */
  border-radius: 12px;
  background-color: #ffffff; /* clean white input */
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}
#results{
    padding: 10px;
    background-color:rgb(255, 179, 186) ;
    margin: 15px;
    width: 70%;
    height: 2rem;
    border: none;
    border-radius: 15px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 18px;

}

